<header class="defaultHeader">
    <div class="defaultHeader__container">
        <a href="{{ path('homepage') }}">
            <img class="defaultHeader__logo" src="{{ asset('assets/img/logo.png') }}" alt="">
        </a>
        <div class="defaultHeader__menu">
            <a href="{{ path('recipe_list') }}">Recette</a>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('recipe_new') }}">Ecrire une recette</a>
                <a href="{{ path('user_show', { 'id': app.user.userId }) }}">{{ app.user.username }}</a>
                <a href="{{ path('logout') }}">Deconnexion</a>
            {% else %}
                <a href="{{ path('user_registration') }}">Inscription</a>
                <a href="{{ path('login') }}">Connexion</a>
            {% endif %}
        </div>
    </div>
</header>
