<header class="defaultHeader">
    <div class="defaultHeader__container">
        <a href="{{ path('homepage') }}">
            <img class="defaultHeader__logo" src="{{ asset('assets/img/logo.png') }}" alt="">
        </a>
        <ul class="defaultHeader__menu">

            <li class="defaultHeader__navContainer">
                <a class="defaultHeader__nav" href="{{ path('recipe_popular') }}">
                    <img class="defaultHeader__imgs" src="{{ asset('assets/img/food.png') }}" alt="">
                    <span class="defaultHeader__texts">Recettes</span>
                </a>
            </li>

            <li class="defaultHeader__navContainer defaultHeader__hasSubMenu">
                <a class="defaultHeader__nav" href="#">
                    <img class="defaultHeader__imgs" src="{{ asset('assets/img/pot.png') }}" alt="">
                    <span class="defaultHeader__texts">Catégories</span>
                    <div class="defaultHeader__subContent">
                        {% include 'frontend/components/dish_categories_list_images.html.twig' %}
                    </div>
                </a>
            </li>

            <li class="defaultHeader__navContainer">
                <a class="defaultHeader__nav" href="{{ path('recipe_new') }}">
                    <img class="defaultHeader__imgs" src="{{ asset('assets/img/write.png') }}" alt="">
                    <span class="defaultHeader__texts">Ecrire une recette</span>
                </a>
            </li>

            <input class="defaultHeader__search" type="search" name="" value="" placeholder="Rechercher">

            <div class="defaultHeader__login">
                <img src="{{ asset('assets/img/lock.png') }}" alt="">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="defaultHeader__texts" href="{{ path('logout') }}">Deconnexion</a>
                {% else %}
                    <a class="defaultHeader__texts" href="{{ path('login') }}">Se connecter</a>
                {% endif %}
            </div>

        </ul>
    </div>
</header>
