{% extends 'admin/templates/default.html.twig' %}

{% block page_id %}{{ parent() }} dashboard{% endblock %}

{% block title %}
    Admin | Home
{% endblock %}

{% block content %}

    <div class="defaultContainer">

        <div class="dashboardPage">

            <h2 class="dashboardPage__title">Dashboard</h2>

            <div class="dashboardPage__container">

                <div class="dashboardCard">

                    <div class="dashboardCard__title">
                        <h2>Utilisateurs inscrits dans les 7 derniers jours</h2>
                    </div>

                    <div class="dashboardCard__data">
                        {{ users|length }}
                    </div>

                    <ul class="dashboardCard__list">
                        {% for user in users %}
                            <li><a href="{{ path('user_show', {'id': user.userId}) }}">{{ user.username }}</a></li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="dashboardCard">

                    <div class="dashboardCard__title">
                        <h2>Recettes crées dans les 7 derniers jours</h2>
                    </div>

                    <div class="dashboardCard__data">
                        {{ recipes|length }}
                    </div>

                    <ul class="dashboardCard__list">
                        {% for recipe in recipes %}
                            <li><a href="{{ path('recipe_show', {'recipeId': recipe.recipeId}) }}">{{ recipe.name }}</a></li>
                        {% endfor %}
                    </ul>

                </div>


            </div>

        </div>

    </div>

{% endblock %}
