{% extends 'frontend/templates/default.html.twig' %}

{% block page_id %}{{ parent() }} home{% endblock %}

{% block title %}
    Délice du Japon | Accueil
{% endblock %}

{% block content %}

    <div class="defaultContainer">

        <div class="mainContent">

            <div class="searchByCol">
                <div class="searchByCol__title">
                    <h4>Recherche par popularité</h4>
                </div>
                <div class="searchByCol__list">
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Profils populaires
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Tendances
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Spécialité
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Classement
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Menu
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Région
                    </li>
                </div>
                <div class="searchByCol__title">
                    <h4>Recherche par plats</h4>
                </div>
                <ul class="searchByCol__list">
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Nouilles
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Salades
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Soupes
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Fruits de mer
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Sushis
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                        Viandes
                    </li>
                </ul>
            </div>

            <div class="popularRecipes">
                <div class="popularRecipes__title">
                    <h2>Recettes les plus populaires</h2>
                </div>

                <div class="popularRecipes__card">
                    <img class="popularRecipes__img" src="{{ asset('assets/img/popularRecipeExample.png') }}" alt="">

                    <div class="popularRecipes__infos">
                        <div class="popularRecipes__infosLeft">
                            <img src="{{ asset('assets/img/profileExample.png') }}" alt="" class="popularRecipes__userImg">
                            <h4 class="popularRecipes__username">Sofia Kiria</h4>
                            <ul class="popularRecipes__notation">
                                <li><img src="{{ asset('assets/img/fork.png') }}" alt=""></li>
                                <li><img src="{{ asset('assets/img/fork.png') }}" alt=""></li>
                                <li><img src="{{ asset('assets/img/fork.png') }}" alt=""></li>
                                <li><img src="{{ asset('assets/img/fork.png') }}" alt=""></li>
                                <li><img src="{{ asset('assets/img/fork.png') }}" alt=""></li>
                            </ul>
                        </div>

                        <div class="popularRecipes__infosRight">
                            <h3 class="popularRecipes__names">Wok de légumes et nouilles soba sautées</h3>
                            <ul class="popularRecipes__indications">
                                <li>
                                    <img src="{{ asset('assets/img/chef.png') }}" alt="">
                                    Facile
                                </li>
                                <li>
                                    <img src="{{ asset('assets/img/chef.png') }}" alt="">
                                    8-10€
                                </li>
                                <li>
                                    <img src="{{ asset('assets/img/chef.png') }}" alt="">
                                    20 min
                                </li>
                                <li>
                                    <img src="{{ asset('assets/img/chef.png') }}" alt="">
                                    12 min
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="popularRecipes__card">
                    <img class="popularRecipes__img" src="{{ asset('assets/img/popularRecipeExample.png') }}" alt="">

                    <div class="popularRecipes__infos">
                        <div class="popularRecipes__infosLeft">
                            <img src="{{ asset('assets/img/profileExample.png') }}" alt="" class="popularRecipes__userImg">
                            <h4 class="popularRecipes__username">Sofia Kiria</h4>
                            <div class="popularRecipes__notation">
                                <li><img src="{{ asset('assets/img/fork.png') }}" alt=""></li>
                                <li><img src="{{ asset('assets/img/fork.png') }}" alt=""></li>
                                <li><img src="{{ asset('assets/img/fork.png') }}" alt=""></li>
                            </div>
                        </div>

                        <div class="popularRecipes__infosRight">
                            <h3 class="popularRecipes__names">Wok de légumes et nouilles soba sautées</h3>
                            <ul class="popularRecipes__indications">
                                <li>
                                    <img src="{{ asset('assets/img/chef.png') }}" alt="">
                                    Facile
                                </li>
                                <li>
                                    <img src="{{ asset('assets/img/chef.png') }}" alt="">
                                    8-10€
                                </li>
                                <li>
                                    <img src="{{ asset('assets/img/chef.png') }}" alt="">
                                    20 min
                                </li>
                                <li>
                                    <img src="{{ asset('assets/img/chef.png') }}" alt="">
                                    12 min
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lastRecipes">
                <div class="lastRecipes__title">
                    <img src="{{ asset('assets/img/lastRecipe.png') }}" alt="">
                    <h2>Dernières recettes</h2>
                </div>
                <div class="lastRecipes__subtitle">
                    <p>Les recettes récentes des internautes</p>
                </div>
                <ul class="lastRecipes__list">
                    <li>
                        <img src="{{ asset('assets/img/popularRecipeExample.png') }}" alt="">
                        <h4>Porc à la japonnaise</h4>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/popularRecipeExample.png') }}" alt="">
                        <h4>Croquette de riz au poulet yakitori</h4>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/popularRecipeExample.png') }}" alt="">
                        <h4>Porc à la japonnaise</h4>
                    </li>
                </ul>
            </div>

            <div class="categories">
                <div class="categories__title">
                    <img src="{{ asset('assets/img/dish.png') }}" alt="">
                    <h2>Catégories</h2>
                </div>
                <div class="categories__subtitle">
                    <p>Des recettes pour tout les goûts</p>
                </div>
                <ul class="categories__list">
                    <li>
                        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
                        <h5>Nouilles</h5>
                        <ul class="categories__sublist">
                            <li><a href="#">Udon</a></li>
                            <li><a href="#">Nouilles fries</a></li>
                            <li><a href="#">Ramen</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
                        <h5>Salades</h5>
                        <ul class="categories__sublist">
                            <li><a href="#">Udon</a></li>
                            <li><a href="#">Nouilles fries</a></li>
                            <li><a href="#">Ramen</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
                        <h5>Soupes</h5>
                        <ul class="categories__sublist">
                            <li><a href="#">Udon</a></li>
                            <li><a href="#">Nouilles fries</a></li>
                            <li><a href="#">Ramen</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
                        <h5>Fruits de mer</h5>
                        <ul class="categories__sublist">
                            <li><a href="#">Udon</a></li>
                            <li><a href="#">Nouilles fries</a></li>
                            <li><a href="#">Ramen</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
                        <h5>Sushis</h5>
                        <ul class="categories__sublist">
                            <li><a href="#">Udon</a></li>
                            <li><a href="#">Nouilles fries</a></li>
                            <li><a href="#">Ramen</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
                        <h5>Viandes</h5>
                        <ul class="categories__sublist">
                            <li><a href="#">Udon</a></li>
                            <li><a href="#">Nouilles fries</a></li>
                            <li><a href="#">Ramen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

        <div class="ads">
            <img src="{{ asset('assets/img/_PUB1.png') }}" alt="">
            <img src="{{ asset('assets/img/_PUB2.png') }}" alt="">
        </div>

    </div>

{% endblock %}
