{% extends 'frontend/templates/default.html.twig' %}

{% block page_id %}{{ parent() }} popularsList{% endblock %}

{% block title %}Populars | List{% endblock %}

{% block content %}

<div class="defaultContainer">

    <div class="mainContent">

        {% include 'frontend/components/search_by_col.html.twig' %}

        <div class="popularProfiles">

            <div class="popularProfiles__title">
                <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
                <h2>Profils populaires</h2>
            </div>

            <ul class="popularProfiles__list">

                {% for popular in populars %}

                    <li>
                        <div class="popularProfiles__imgsContainer">
                            <img src="{{ asset('uploads/user/') }}{{ popular.image }}" class="popularProfiles__imgs">
                        </div>
                        <div class="popularProfiles__infos">
                            <h5 class="popularProfiles__names">{{ popular.username }}</h5>
                            <p class="popularProfiles__recipes">219 recettes</p>
                        </div>
                        <div class="popularProfiles__followers">
                            <p>{{ popular.total_follows }} followers</p>
                        </div>
                    </li>

                {% endfor %}

            </ul>

        </div>

    </div>

    {% include 'frontend/components/ads.html.twig' %}

</div>

{% endblock %}
