{% extends 'frontend/templates/default.html.twig' %}

{% block page_id %}{{ parent() }} userProfile{% endblock %}

{% block title %}User | Show{% endblock %}

{% block content %}
    {{ dump(user) }}
    <img src="{{ asset('uploads/user/' ~ user.image) }}" alt="">
    {{ dump(recipes) }}

    {% if app.user is not null %}
        <div class="followButton"
             style="border: 2px solid blue;">
             Follow me
            <input type="hidden" class="app_follow_token"
                   data-href="{{ url('api_follow_user')}}"
                   data-content="{{ app.user.userId }}_{{ user.userId }}"
                   value="{{ followToken.value }}"
            >
        </div>
    {% endif %}

{% endblock %}
