<!-- Categories listed with images -->
<ul class="dishCategoriesList">
    <li>
        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
        <h5>Nouilles</h5>
        <ul class="dishCategoriesList__sublist">
            <li><a href="#">Udon</a></li>
            <li><a href="#">Nouilles fries</a></li>
            <li><a href="#">Ramen</a></li>
        </ul>
    </li>
    <li>
        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
        <h5>Salades</h5>
        <ul class="dishCategoriesList__sublist">
            <li><a href="#">Udon</a></li>
            <li><a href="#">Nouilles fries</a></li>
            <li><a href="#">Ramen</a></li>
        </ul>
    </li>
    <li>
        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
        <h5>Soupes</h5>
        <ul class="dishCategoriesList__sublist">
            <li><a href="#">Udon</a></li>
            <li><a href="#">Nouilles fries</a></li>
            <li><a href="#">Ramen</a></li>
        </ul>
    </li>
    <li>
        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
        <h5>Fruits de mer</h5>
        <ul class="dishCategoriesList__sublist">
            <li><a href="#">Udon</a></li>
            <li><a href="#">Nouilles fries</a></li>
            <li><a href="#">Ramen</a></li>
        </ul>
    </li>
    <li>
        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
        <h5>Sushis</h5>
        <ul class="dishCategoriesList__sublist">
            <li><a href="#">Udon</a></li>
            <li><a href="#">Nouilles fries</a></li>
            <li><a href="#">Ramen</a></li>
        </ul>
    </li>
    <li>
        <img src="{{ asset('assets/img/noodles.png') }}" alt="">
        <h5>Viandes</h5>
        <ul class="dishCategoriesList__sublist">
            <li><a href="#">Udon</a></li>
            <li><a href="#">Nouilles fries</a></li>
            <li><a href="#">Ramen</a></li>
        </ul>
    </li>
</ul>
