<div class="smallCard">
    <div class="wrapper">
        <div class="smallCard__container">
            <img class="largeImage" src="{{ asset("uploads/recipe/") }}{{ recipe.image }}" />
            <div class="smallCardInfos">
                <div class="smallCardAuthor">
                    <div class="smallCardAuthor__image" style="background-image:url('{{ asset("uploads/user/") }}{{ recipe.author_image }}')"></div>
                    <div class="smallCardAuthor__username">
                        {{ recipe.username }}
                    </div>
                </div>
                <ul class="smallCardIndications">
                    <li class="smallCardIndications__indication">
                        <img src="{{ asset('assets/img/chef.png') }}" alt="">
                        {% if recipe.difficulty == '1' %}
                            Facile
                        {% elseif recipe.difficulty == '2' %}
                            Moyen
                        {% elseif recipe.difficulty == '3' %}
                            Difficile
                        {% endif %}
                    </li>
                    <li class="smallCardIndications__indication">
                        <img src="{{ asset('assets/img/chef.png') }}" alt="">
                        {{ recipe.cookingTime|date('i') }} min
                    </li>
                    <li class="smallCardIndications__indication">
                        <img src="{{ asset('assets/img/chef.png') }}" alt="">
                        {{ recipe.preparationTime|date('i') }} min
                    </li>
                </ul>
            </div>
        </div>
        <a href="{{ path('recipe_show', {'recipeId':recipe.recipeId}) }}">
            <h3 class="smallCard__name">{{ recipe.name }}</h3>
        </a>

    </div>
</div>