<div class="searchByCol">
    <div class="searchByCol__title">
        <h4>Recherche par popularité</h4>
    </div>
    <div class="searchByCol__list">
        <li>
            <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
            <a href="{{ path('populars_list') }}">Profils populaires</a>
        </li>
        <li>
            <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
            <a href="{{ path('recipe_popular') }}">Tendances</a>
        </li>
        <li>
            <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
            <a href="{{ path('recipe_latest_list') }}">Récentes</a>
        </li>
        <li>
            <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
            ??
        </li>
        <li>
            <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
            ??
        </li>
        <li>
            <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
            ??
        </li>
    </div>
    {{ render(controller('FrontOfficeBundle:Default:listDishCategory')) }}
</div>
