{% extends 'frontend/templates/default.html.twig' %}

{% block page_id %}{{ parent() }} dishCategory List{% endblock %}

{% block title %}DishCategory | List{% endblock %}

{% block content %}

    <div class="defaultContainer">

        <div class="mainContent">

            <div class="categories">

                <div class="categories__nav">
                    <h4 class="categories__subLabel">Sous-catégories</h4>
                    <ul class="categories__sublist">
                        {% for category in categories %}
                            {% if category.categoryId != parentCategory.categoryId %}
                                <li>{{ category.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="categories__recipes">

                    <h2 class="categories__catName">{{ parentCategory.name }}</h2>

                    <ul class="categories__recipesList">
                        {% for recipe in recipes %}
                        <li>
                            <div class="categories__imagesContainers">
                                <img src="{{ asset('assets/img/popularRecipeExample.png') }}" alt="" class="categories__recipesImages">
                            </div>
                            <h6 class="categories__recipesAuthors">{{ recipe.author.username }}</h6>
                            <a href="{{ path('recipe_show', {'recipeId': recipe.recipeId}) }}">
                                <h4 class="categories__recipesNames">{{ recipe.name }}</h4>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>

        </div>

        {% include 'frontend/components/ads.html.twig' %}

    </div>

{% endblock %}
