{% extends 'frontend/templates/default.html.twig' %}

{% block page_id %}{{ parent() }} recipePage{% endblock %}

{% block title %}Recipe | Show{% endblock %}

{% block content %}
    {{ dump(recipe) }}

    {{ dump(favoriteToken) }}

    {% if app.user is not null %}
        <div class="favoriteButton"
             style="border: 2px solid {% if favorite is null %}red{% else %}green{% endif %};"
        >
            {% if favorite is null %}
                Pas en FAVORI
            {% else %}
                En FAVORI
            {% endif %}
            <input type="hidden" id="app_favorite_token"
                   data-href="{{ url('favorite_add')}}"
                   data-content="{{ app.user.userId }}_{{ recipe.recipeId }}"
                   value="{{ favoriteToken.value }}"
            >
        </div>
    {% endif %}

    {{ dump(dishCategories) }}

    <h2> {{ recipe.name }} </h2>
    <p> {{ recipe.description }} </p>
    <p> Temps de préparation : {{ recipe.preparationTime|date('H:i:s') }} </p>
    {{ dump(comments) }}

    {{ dump(rating) }}

    {% if is_granted('ROLE_USER') %}
        {{ form_start(ratingForm) }}
            {{ form_widget(ratingForm) }}
            <input type="submit" value="Noter" />
        {{ form_end(ratingForm) }}
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            <input type="submit" value="Envoyer" />
        {{ form_end(commentForm) }}
    {% else %}
        <p><a href="{{ path('login') }}">Connectez-vous</a> pour commenter cette recette !</p>
    {% endif %}
{% endblock %}
