{% extends 'admin/templates/default.html.twig' %}

{% block content %}

    <div class="defaultContainer">

        <div class="table">

            <div class="table__title">
                <h2>Liste des recettes</h2>
            </div>

            <table class="table__list">
                <tr>
                    <th>Nom</th>
                    <th>Auteur</th>
                    <th>Nombre de personnes</th>
                    <th>Difficulté</th>
                    <th>Temps de préparation</th>
                    <th>Temps de cuisson</th>
                    <th>Voir</th>
                    <th>Editer</th>
                </tr>
                {% for recipe in recipes %}
                    <tr>
                        <td> {{ recipe.name }} </td>
                        <td> {{ recipe.author.username }} </td>
                        <td> {{ recipe.servingSize }} </td>
                        <td> {{ recipe.difficulty }} </td>
                        <td> {{ recipe.preparationTime|date('H:i:s') }} </td>
                        <td> {{ recipe.cookingTime|date('H:i:s') }} </td>
                        <td> <a href="{{ path('recipe_show', {'recipeId': recipe.recipeId}) }}">Voir</a> </td>
                        <td> <a href="{{ path('recipe_edit', {'id': recipe.recipeId}) }}">Editer</a> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
